@charset "UTF-8";
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('http://fonts.googleapis.com/earlyaccess/lato.css');
@import url('http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');

/* css reset start */
*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    list-style: none ;
    color: #222328 ;
    text-decoration : none;
}
/* css reset end */

body {
    width: 1600px ; /* body 전체 width 1600px */
    min-width: 1320px ;
    max-width: 1920px ;
    height: 2000px ;
    margin: 0 auto ; /* body 전체를 margin 설정 */
    font-family: 'Noto Sans KR', 'Lato', 'Spoqa Han Sans', sans-serif;
}

/* header start */
header {
    height: 100px ; /* width는 body값 상속 , height 100px */
    text-align: center ;
    display: flex ;
    position: fixed ; top: 0; /* 브라우저 창 제일 위에 붙은채로 위치 고정 */
    background-color: white;
    font-family: 'Spoqa Han Sans', 'Noto Sans KR', 'Lato', sans-serif;
    font-weight: 400;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%); /* 박스 전체에 그림자 넣기 */
}

/* div top IN : logo , menu , right_menu */
header> .top {
    display: flex ; /* 순서대로 이어서 왼쪽 정렬 */
    width: 100% ;
}

/* logo : width 200px */ 
header> .top> .logo {
    width: 200px ;
    line-height: 100px ;
}

header> .top> .logo> a> img {
    vertical-align: middle; /* vertical-align으로 logo img 수직 가운데 정렬 */
}

/* menu : NEW ARRIVAL ~ SALE ul 8개 */
header> .top > .menu {
    width: 1100px ;
    display: flex ; /* ul list 순서대로 왼쪽 정렬 */
    text-align: center ; /* 텍스트 가운데 정렬 */
}

header> .top> .menu> ul> .left_menu {
    width: 100px ; /* 메뉴 한 칸당 100px 지정 */
    font-size: 12.5px; /* font : 12px */
    line-height: 100px ;
    text-align: center; /* 텍스트 가운데 정렬 */ 
}

header> .top> .menu> ul> .left_menu> a {
    line-height: 100px ;
    position: relative ;
}

header> .top> .menu> ul> .left_menu > .submenu {
    display: none ; /* 기본 값은 안보이게 하기 */
    align-items: center;
    background-color: white; /* submenu 배경색 넣기 */
    width: 150px ; /* submenu 넓이 지정 (글씨 긴것도 다 보이게끔 크게 지정) */
    position: relative; top: -30px; left: -25px;  /* left_menu와 submenu 중앙 맞추기 */
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 20%); /* submenu에 그림자 넣기 */
}

header> .top> .menu> ul> .left_menu:hover .submenu {
    display: block; /* block(리스트)형태로 보이게 하기 */
}

header> .top> .menu> ul> .left_menu > .submenu > li {
    height: 40px ;  /* 한 칸당 높이 40px 지정 */
    line-height: 40px ; /* 텍스트 세로 중앙 정렬을 위한 line-height 설정*/
    font-size: 12px; /* font : 12px */  
}

header> .top> .menu> ul> .left_menu> .submenu > li > a {
    text-decoration-line : none; /* link 포함된 a tag 폰트 서식 없애기(밑줄) */
}

header> .top> .menu> ul> .left_menu> .submenu > li > a:hover {
    /* submenu에 마우스 올리면 배경색 텍스트색 바뀌기 */
    background-color: black;
    color: white;
}

/* right_menu */
header> .top> .right_menu {
    display: flex ;
    width: 300px ;
    font-size: 12px;
}

header> .top> .right_menu> ul {
    display: flex;   /* ul 리스트로 된 각 메뉴 한줄로 보이게 하기 */ 
}

header> .top> .right_menu> ul > .r_menu {
    width: 50px ; /* 각각 메뉴 width 50px  */
    line-height: 100px ; /* 텍스트 세로 중앙 정렬을 위한 line-height 설정*/
}

header> .top> .right_menu> ul > .r_menu > a {
    text-decoration-line : none; /* link 포함된 a tag 폰트 서식 없애기(밑줄) */
    position: relative ;
}

header> .top> .right_menu> ul > .r_menu > a > img {
    vertical-align: middle; /* vertical-align으로 logo img 가운데 정렬 */
}

/* 장바구니 숫자 (hoopcity 코드 가져옴) */
header> .top> .right_menu> ul > .r_menu > a > span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* 둥근 모양에 박스 만들기 */
    background: #99001b;
    text-align: center;
    line-height: 22px;
    font-size: 10px;
    color: #fff;
    position: relative ;
    top: -50px ; left: 25px ;
}
/* header end */

/* main_banner start */
.main_banner {
    /* 슬라이드 기능 넣어야함 */
    margin-top : 100px ;
}

.main_banner > img {
    width: 100% ;
}
/* main_banner end */

/* productbox1 start */
.productbox {
    margin-top: 50px ;
    display: block ; /* ul 박스와 텍스트가 한 블럭씩 차지하게 설정 */
    height: 950px ;
    text-align: center;
}

.productbox > h3 {
    color: dimgray;
    font-size: 30px ;
    height: 100px;
}

.productbox > ul > li > div > h4 , small {
    color: dimgray; /* h4(상품 이름) 색상 지정 */
}

h4 > span {
    color: darkred; /* h4> span (가격) 색상 지정 */
}

.productbox > ul {
    display: flex ;
    flex-wrap: wrap ; /* flex item들이 지정된 width를 벗어나면 여러 행으로 표시되게 설정 */
    text-align: center;
}

.productbox > ul > li {
    width: 25% ; height: 50% ; /* 각 상품 정보 박스가 전체 width의 25% height는 50%로 설정 */
}

.productbox > ul > li > .imgbox {
    margin-top: 20px ;
    height: 325px ;
    line-height: 325px ;
}

.productbox > ul > li > .imgbox > img {
    width: 325px ;
    height: 100% ;
    vertical-align: middle;  /* 상품 이미지가 세로 가운데 정렬되게 설정 */
}

.productbox > ul > li > .namebox {
    overflow : hidden ; /* 블럭 길이를 초과하는 글씨를 안보이게 설정 */
    height: 30px ;
    line-height: 30px ;
}

.productbox > ul > li > .moneybox {
    height: 30px ;
    line-height: 30px ;
}
/* productbox1 end */

/* sub_banner start */
.sub_banner > img {
    width: 100% ;
}
/* sub_banner end */

/* gallery start 미완성 ..... */

.gallery > .g_box {
    height: 2400px ;
    width: 100% ;
}

.gallery > .g_box > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.gallery > .g_box > ul > .big_box {
    display: flex;
    width: 800px ;
    height: 800px ;
}

.gallery > .g_box > ul > .big_box > img{
    width: 800px ;
    height: 800px ;
    object-fit: fill;
}

.gallery > .g_box > ul > .normal_box > img{
    width: 400px ;
    height: 400px ;
    object-fit: fill;
}

/* gallery end */