@charset "UTF-8";
*{
    margin: 0 auto ;
    padding: 0 ;
    box-sizing: border-box ;
    list-style: none ;
    font-family: sans-serif ;
    color: #222328 ;
}

header {
    width: 1600px ;
    height: 100px ;
}

header> div.top {
    display: flex ;
    width: 1600px ;
    align-items: center;
}

header> div.top> div.logo {
    width: 200px ;
    height: 100px ;
    display: flex ;
    justify-content: center;
    align-items: center;
}

header> div.top> div.logo> a> img {
    max-width:100%; max-height:100%;
}

header> div.top > div.navi {
    width: 1100px ;
    text-align: center ;
}

header> div.top> div.navi> ul> li.menu> a {
    width: 100px ;
    height: 30px ;
    float: left ;
    font-size: 12px;
    text-align: center;
    text-decoration : none;
}

header> div.top> div.navi> ul> ul.submenu {
    display: none ;
}

header> div.top> div.right_menu {
    display: flex ;
    width: 300px ;
    font-size: 12px;
    float: right ;
    text-align: center;
    align-items: center;
}

header> div.top> div.right_menu> ul > li.r_menu {
    width: 50px ;
    height: 30px ;
    float: left ;
    text-decoration-color: darkred;
}

header> div.top> div.right_menu> ul > li.r_menu > a {
    text-decoration-line : none;
}

header> div.top> div.right_menu> ul > li.r_menu > a > img {
    max-width:100%; max-height:100%;
}